table{width:100%;max-width:100%;margin-bottom:127px;margin-right:auto;margin-left:auto;background-color:transparent;border-collapse:collapse;border-spacing:0;font-size:14px}@media(min-width:768px){table{width:750px}}@media(min-width:992px){table{width:970px}}@media(min-width:1200px){table{width:1170px}}thead{font-weight:200}td{padding:8px;vertical-align:middle;line-height:1.42857143}thead{border-bottom:2px solid #ddd}tbody>tr{border-top:0;border-bottom:1px solid #ddd}tbody>tr:hover{background-color:#131416}tr>:nth-child(1){width:64px}tr>:nth-child(1)>img{height:36px}tr>:nth-child(1){word-break:break-word}tr>:nth-child(2){color:#fff}tr>:nth-child(3){width:250px}tr>:nth-child(3)>*{display:inline-block;text-align:center;font-size:12px;width:8.5px}tr>:nth-child(4){font-family:glyphiconsregular;text-decoration:none;padding-top:5px;font-size:14px;width:90px}tr>:nth-child(4)>a{display:inline-block;text-decoration:none;padding-right:10px;color:#fff}tr>:nth-child(4)>a:hover{color:#5c27d8}tr>:nth-child(4)>:nth-child(1)::before{content:'\E174'}tr>:nth-child(4)>:nth-child(2)::before{content:'\E235'}tr>:nth-child(4)>:nth-child(3)::before{content:'\E182'}tr>:nth-child(4)>:nth-child(4)::before{content:'\E023'}tfoot>tr>td{text-align:center;border:none}tfoot>tr>td>a{text-decoration:none;color:#fff;font-size:14px}form{display:none}
/*
     FILE ARCHIVED ON 19:53:55 Oct 20, 2020 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 14:55:34 Mar 27, 2021.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  RedisCDXSource: 0.655
  exclusion.robots: 0.387
  exclusion.robots.policy: 0.37
  CDXLines.iter: 19.858 (3)
  load_resource: 65.4
  LoadShardBlock: 62.581 (3)
  esindex: 0.015
  captures_list: 87.372
  PetaboxLoader3.datanode: 57.973 (4)
  PetaboxLoader3.resolve: 21.307
*/
